body {
    background-color: #181818;
    background-image: url("https://images.unsplash.com/photo-1737365505612-7ff3ef8f7970?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8YmxhY2slMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

header {
    max-width: 500px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #e39b27;
    font-family: "Changa One", sans-serif;

}

footer {
    color: #825431;
    font-family: 'Pliant', sans-serif;
    max-width: 800px;
    margin: 30px 0;
}

.text-column {

    color: #f0bd6f;
    font-family: 'Pliant', sans-serif;
    flex: 1;
    max-width: 700px;
    text-align: justify;
    /* Вирівнюємо текст по ширині для охайного вигляду */

    background-color: rgb(0, 0, 0);
    background-position: center;
    background-image: url("https://img.magnific.com/free-vector/vector-abstract-black-gold-luxury-background_361591-3873.jpg?semt=ais_hybrid&w=740&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    /* Відступи всередині блоку */
    margin: 10px 0;
    /* Відступи зовні блоку */
    border-radius: 10px;
    /* Закруглені кути */
}

aside {
    max-width: 500px;
}

li,
a {
    color: #f3a663;
    font-family: 'Pliant', sans-serif;
    text-decoration: none;

    a:hover {
        text-decoration: underline;
    }
}

.animationframe {
    animation: fadeInUpBounce 1s alternate;
}

@keyframes fadeInUpBounce {
    0% {
        opacity: 0;
        transform: translateY(50px);

    }

    60% {
        opacity: 1;
        transform: translateY(-10px);

    }

    80% {
        transform: translateY(5px);

    }

    100% {
        transform: translateY(0);

    }
}